ul, li {
    list-style-type: none;
}

.clickable {
    cursor: pointer;
}

.deleteButton {
    color: white;
    font-weight: bold;
    background-color: darkred;
    margin-right: 10px;
    border-radius: 50%;
}

.formcrud {
    margin-left: 20px;
    display: flow-root;
    font-family: cursive;
}